@model Postagem
@{
    ViewData["Title"] = "Postagem";
    
}

<div class="container">
    <div class="row my-5">
        @* Postagem *@
        <div class="col-md-8">
            <article class="blog-post mb-4">
                <h2 class="blog-post-title">
                    @Model.Nome
                </h2>
                <p class="blog-post-meta">
                    @Model.DataPostagem.ToString("dd 'de' MMMM 'de' yyyy")
                </p>
                <p>@Model.Descricao</p>
                <img src="@Model.Foto" alt="@Model.Nome" class="img-fliud-mb-3"
                <p>@Html.Raw(Model.Texto)</p>
            </article>
        </div>
        @* Sidebar *@
        <div class="col-md-4">
            @* Formulário de Pesquisa *@
            <div class="card mb-4">
                <div class="card-header">Pesquisar</div>
                <div class="card-body">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pesquisar por...">
                            <button class="btn btn-outline-secondary" type="=button">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="card">-mb-4</div>
            <div class="card-header">Categorias</div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li>
                        <a href="" class="text-decoration-none mb-2">

                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

